<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:ng="http://angularjs.org" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
    </head>
    <body ng-controller="Controller">

        <form id="statsNav" ng-init="createHashmapForKeys()">
            <ol>
                <li class="bbq" id="test">
                    <select id="league" ng-model="city" ng-change="createDivisionSelectBox()">
                        <option value="">--Select League--</option>
                        <option value="aus">Austin</option>
                        <option value="nyc">New York</option>
                        <option value="sf">San Francisco</option>
                        <option value="wil">Wilmington</option>
                        <!--<option value="den">Denver</option>
                        <option value="osk">Oskar Blues</option>-->
                    </select>
                </li>
                <li>
                    <select id="division" ng-model="division" ng-change="renderStats()">
                        <option value="">--Select Division--</option>
                    </select>
                </li>
                <li>
                    <select id="category" ng-model="stat" ng-change="renderStats()">
                        <option value="">--Choose Stat--</option>
                        <option value="od6">Standings</option>
                        <option value="od5">Totals</option>
                        <option value="od4">High Rollers</option>
                        <option value="odb">Full Circles</option>
                        <option value="oda">Cherries</option>
                        <option value="od8">Chips</option>
                        <option value="od9">Hundos</option>
                        <option value="ocy">46+</option>
                        <option value="ocz">High Fives</option>
                    </select>
                </li>
            </ol>
        </form>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor/handlebars.js"></script>
        <script id="playerStats-template" type="text/x-handlebars-template">
            <table class="stats playerStats tablesorter" id="tableSorted">
                <caption>League Standings</caption>
                <thead>
                    <tr>
                        <th class="long">Roller</th>
                        <th>Average</th>
                        <th>Total</th>
                        <th>Week 1</th>
                        <th>Week 2</th>
                        <th>Week 3</th>
                        <th>Week 4</th>
                        <th>Week 5</th>
                        <th>Week 6</th>
                        <th>Week 7</th>
                        <th>Week 8</th>
                        
                    </tr>
                </thead>
                <tbody>
                {{#each entry}}
                    <tr>
                        <td>{{roller}}</td>
                        <td>{{wk1}}</td>
                        <td>{{wk2}}</td>
                        <td>{{wk3}}</td>
                        <td>{{wk4}}</td>
                        <td>{{wk5}}</td>
                        <td>{{wk6}}</td>
                        <td>{{wk7}}</td>
                        <td>{{wk8}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </script>
        <script>    
        function Controller($scope, $http, $log, $q){
            $scope.keys = {};
            $scope.stats = {};
            $scope.yearAndTri = "";
            $scope.http = "https://spreadsheets.google.com/feeds/list/";
            $scope.callback = "/public/values?alt=json&callback=JSON_CALLBACK";
            $scope.keysSheet = ($scope.yearAndTri === "2012-3") ? "od5" : "oda";
            $scope.dayOfWeekObj = {
                'sun'  : "Sunday",
                'mon'  : "Monday",
                'tue'  : "Tuesday",
                'wed'  : "Wednesday",
                'thur' : "Thursday",
                'fri'  : "Friday",
                'sat'  : "Saturday"
            }

            $scope.createHashmapForKeys = function(){
                $log.log("scope", $scope);
                
                // URL for data
                $scope.url = $scope.http + "0At0CaY3KoBvedDBFcXFsUmE3aTZWVURYcGFpckFaM0E/od5" + $scope.callback;
                

                //JSONP request to get said data
                $http.jsonp($scope.url).then(function(response){
                        var dataStore = response.data.feed.entry,
                        hash = {}, 
                        i, 
                        n, 
                        league, 
                        night, 
                        key,
                        ds;

                    for (i = 0, n = dataStore.length; i < n; ++i) {
                      ds = dataStore[i];
                      league = $scope.keys[ds.gsx$league['$t'].toLowerCase()] = $scope.keys[ds.gsx$league['$t'].toLowerCase()] || {};
                      league[ds.gsx$night['$t'].toLowerCase()] = ds.gsx$key['$t'];
                    }

                //log the keys
                $log.log($scope.keys);
                })
            }
            $scope.requestStatsData = function(league,division,ws){
                var d = $q.defer(),
                    url = $scope.http + $scope.keys[league][division]+"/"+ws + $scope.callback;
                    
                        $http.jsonp(url).then(function(response){
                            $scope.stats = response;
                            d.resolve();
                        })
                        
                    return d.promise;
            }

            $scope.renderStats = function(){
                var league = $("#league").val(),
                    division = $("#division").val(), 
                    ws = $("#category").val(),
                    category = 
                        (ws === "od6") ? "standings" : 
                        (ws === "od4") ? "playerStats" : 
                        (ws === "od5") ? "totals" : "marks";

                if(league != "" && division != "" && ws != ""){
                    var promise = $scope.requestStatsData(league,division,ws);
                    promise.then(function(){
                        var source = $("#"+category+"-template").html();
                        var template = Handlebars.compile(source);
                        var entry = $scope.stats.data.feed.entry;
                        // var data = {
                        //     entry : [{roller: "Joe", wk1: "33.3"}, {roller: "Pete", wk1: "33.3"}, {roller: "Dave", wk1: "33.3"}]
                            
                        // };

                        var data = {};
                            data.entry = [];

                            for (var x=0; x<entry.length;x++){
                                var tempObj = {};
                                    if(category === "marks" || category === "playerStats"){
                                        tempObj.roller = entry[x].gsx$roller['$t'];    
                                    }
                                    
                                    tempObj.wk1 = entry[x].gsx$wk1['$t'];
                                    tempObj.wk2 = entry[x].gsx$wk2['$t'];
                                    tempObj.wk3 = entry[x].gsx$wk3['$t'];
                                    tempObj.wk4 = entry[x].gsx$wk4['$t'];
                                    tempObj.wk5 = entry[x].gsx$wk5['$t'];
                                    tempObj.wk6 = entry[x].gsx$wk6['$t'];
                                    tempObj.wk7 = entry[x].gsx$wk7['$t'];
                                    tempObj.wk8 = entry[x].gsx$wk8['$t'];
                                    tempObj.total = entry[x].gsx$total['$t'];
                                    tempObj.avg = entry[x].gsx$avg['$t'];


                                data.entry.push(tempObj);
                            }


                        $log.log("data", data);
                        $log.log("time to render");
                        $log.log(template(data));
                    })
                }



            }
            $scope.createDivisionSelectBox = function(){
                var league = $('#league').val(),
                    division = $scope.keys[league],
                    $division = $("#division"),
                    lenArr   = [];
                    
                    $division.empty();

                    for (var x in division){
                        lenArr.push(x);
                        $division.append('<option value="'+x+'">'+$scope.dayOfWeekObj[x]+'</option>');
                    }
                    
                    if (lenArr.length !== 1){
                        $division.prepend('<option value="">--Select Division--</option>'); 
                    }



            }
            $scope.alertMe = function(){
                alert("boom");
            }
            $scope.loadStats = function(){
                $log.log($scope.leagues);
                $log.log($scope.category);
            }
        }
        </script>
    </body>
</html>
